In [1]:
import numpy as np
import pandas as pd
print('done')

done

In [2]:
df_type = pd.read_csv('https://cocl.us/datascience_survey_data')
df_type.head(6)

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136
5,Machine Learning,1629,477,74

In [7]:
df=df_type.rename(columns={'Unnamed: 0': 'hi'}, inplace=True)
# df_type.set_index('', inplace=True)
df_type

,Very interested,Somewhat interested,Not interested
,,,
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136
Machine Learning,1629,477,74